[Desktop Entry]
Name=Plex Media Player on Wayland
Exec=plexmediaplayer --tv --fullscreen
Icon=plexmediaplayer
Terminal=false
Type=Application
Categories=AudioVideo;Player;
DesktopNames=PlexMediaPlayerWayland
