[Unit]
Description=Sync Mail Dir Loop
After=network.target

[Service]
ExecStart=/usr/bin/smd-loop
Restart=on-failure

[Install]
WantedBy=default.target
